[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
black = "*"
uvicorn = "*"
faker = "*"
python-dotenv = "*"
sqlalchemy = "==1.4.48"
alembic = "*"
psycopg2 = "*"
passlib = "*"
fastapi-mail = "*"
redis = "*"
python-jose = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
